<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://uploaddeimagens.com.br/images/003/509/303/full/131206946_900762260761772_8790758338829127352_n.jpg?1635427657" alt="imagem do gustavo" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-8">
          <p class="m-0 font-weight-bold text-white fs-16 p-3">Nome do usuário</p>
        </li>
        <li class="nav-item">
            <a href="">
                <p class="m-0 font-weight-bold text-white fs-16 p-0">
                <i class="fa fa-edit" ></i>            
            </p>
            </a>
          </li>
      </ul>

      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16 p-3">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
